<h1> My own votes</h1>

<div class="movember-grid">
  <% @votes.each do |items, amount| %>
    <div class="movember-tile">
      <div class="movember-tile-inner light">
        <img src="<%= @people[items.last].picture.url(:icon) %>">
        <br />
        <img src="<%= @features[items.first].picture.url(:preview) %>">
      </div>
      <div class="text-right">
        <strong><%= amount %> Votes</strong>
        <a 
          href="<%= url_for(controller: 'votes', action: 'destroy', feature_id: items.first, person_id: items.last) %>" 
          data-method="delete" 
          class="btn btn-primary btn-xs"
        >
          undo
        </a>
      </div>
    </div>
  <% end %>

  <div class="clearfix"></div>
</div>